
{% extends 'index.html'%}
{% load humanize %}
    {% block content %}
                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box ">
                                      <div class="mb-2" style="float:left;margin-right:20px">
                                        <label><b>Starting Date</b></label>
                                        <input type="date"  class="form-control" name ="startingDate" id ="PartystartingDate" />
                                      </div>
                                      <div class="mb-2" style="float:left;margin-right:20px">
                                        <label><b>ending Date</b></label>
                                        <input type="date"  class="form-control" name ="endingDate" id ="PartyendingDate" />
                                      </div>

                                    </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row" >
                            <div class="col-12">
                                <div class="card">

                                    <div class="card-body">
                                        <div class="table-rep-plugin">
                                            <div class="table-responsive mb-0" data-pattern="priority-columns">
                                                <table id="Krishna" class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Sr No</th>
                                                        <th>Party Name</th>
                                                        <th>GST No.</th>
                                                        <th>Net Profit</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="Partywise">
                                                    {% for invoice in object_list %}
                                                    <tr>
                                                        <td> {{ forloop.counter }} </td>
                                                        <td> {{invoice.party.party_name }}</td>
                                                        <td> {{invoice.party.gst_no }}</td>
                                                        <td>{{ invoice.total_amount  | intcomma }} </td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </div> <!-- container-fluid -->
                </div>
{%endblock content %}