{% extends 'index.html' %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add products Here</h4>
                <p &nbsp;></p>
                <form action="" method="POST">
                    {% csrf_token %}
                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Product Name</label>
                    <div class="col-md-10">
                        <input class="form-control" name ="product_name" type="text"  id="example-text-input" data-required="true" >
                    </div>
                </div>
                      <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label">HSN Code</label>
                    <div class="col-md-10">
                        <input class="form-control" name ="hsn_code" type="text"  id="example-text-input" data-required="true" >
                    </div>
                </div>
                    <div class="mb-3 row">
                                            <label class="col-md-2 col-form-label">Select</label>
                                            <div class="col-md-10">
                                                <select class="form-select" name="per">
                                                    <option>Select</option>
                                                    <option>PCS</option>
                                                    <option>SET</option>
                                                    <option>WEIGHT</option>
                                                </select>
                                            </div>
                    </div>
                
                <button type="submit" class="btn btn-success" style="margin-bottom: 20px;"><i class="bx bx-check-circle"></i>&nbsp;&nbsp;SUBMIT</button>
                <button type="button" class="btn btn-success" style="margin-bottom: 20px;"><a href="" style="color: white;"><i class="bx bx-undo"></i>&nbsp;&nbsp;BACK</a></button>
                </form>
               
            </div>
        </div>
    </div> <!-- end col -->
</div>
</div>
</div>
{%endblock content %}