{% extends 'index.html'%}
    {% block content %}
                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0">Product Details</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                              {% if messages %}
                                            {% for message in messages %}
                                                       <script>  alert('{{message}}') </script>
                                            {% endfor %}
                                        {% endif %}
                                        <a href="{% url 'product_add' %}" class="btn btn-primary" style="color: white;margin-bottom:20px;"><i class="bx bx-add-to-queue"></i>Add</a></button>
        
                                        <div class="table-rep-plugin">
                                            <div class="table-responsive mb-0" data-pattern="priority-columns">
                                                <table  id="datatable" class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Sr No</th>
                                                        <th>Product Name</th>
                                                        <th>HSN Code</th>
                                                        <th>Pe</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>

                                                    {% for productDetails in object_list %}
                                                    <tr>
                                                        <td> {{ forloop.counter }} </td>
                                                        <td>{{ productDetails.product_name }}</td>
                                                        <td>{{ productDetails.hsn_code }}</td>
                                                        <td>{{ productDetails.per }} </td>
                                                        <td><a href="{% url 'product_update' productDetails.id %}"  class="btn btn-primary"><i class="fas fa-edit"></i></a></td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
        
                                        </div>
        
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </div> <!-- container-fluid -->
                </div>
            {%endblock content %}