{% extends 'index.html' %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add products Here</h4>

                 {% if messages %}
                          {% for message in messages %}
                              <script>  alert('{{message}}') </script>
                        {% endfor %}
                        {% endif %}

                <form action="" method="POST">
                    {% csrf_token %}
                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Product Name</label>
                    <div class="col-md-10">
                        <input class="form-control" name ="product_name" type="text"  id="example-text-input" required >
                    </div>
                </div>
                      <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label">HSN Code</label>
                    <div class="col-md-10">
                        <input class="form-control" name ="hsn_code" type="number"  id="example-text-input" required >
                    </div>
                </div>
                    <div class="mb-3 row">
                                            <label class="col-md-2 col-form-label" >Select</label>
                                            <div class="col-md-10">
                                                <select class="form-select" name="per" >
                                                    <option value ="0">Select</option>
                                                    <option value = "1">PCS</option>
                                                    <option value = "2">SET</option>
                                                    <option value = "3">WEIGHT</option>
                                                    <option value = "4">KG</option>
                                                    
                                                </select>
                                            </div>
                    </div>
                                            <div>
                                                <div>
                                                    <button type="submit" class="btn btn-primary waves-effect waves-light me-1">
                                                        Submit
                                                    </button>
                                                    <button type="reset" class="btn btn-secondary waves-effect">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                </form>
            </div>
        </div>
    </div> <!-- end col -->
</div>
</div>
</div>
{%endblock content %}